# Configuración de la API del Backend (Spring Boot)
API_BASE_URL=http://localhost:8080
SCRAPER_EMAIL=admin.scraper.tesis@gmail.com
SCRAPER_PASSWORD=123456

# Configuración de Scraping y Cortesía
PLAYWRIGHT_HEADLESS=false #true
MIN_DELAY_SECONDS=2
MAX_DELAY_SECONDS=5

# Configuración de Logging
LOG_LEVEL=INFO
